aside{
	grid-area: aside;
	display: flex;
	align-items: center;

	form{
		display: flex;
		flex-direction: column;
		gap: 2.5rem;
		justify-content: center;

		.title{
			display: flex;
			flex-direction: column;
			gap: .125rem;
			h2{
				font: var(--label-md);
				text-transform: uppercase;
			}
			p{
				font: var(--paragraph-md);
				color: var(--content-tertiary);
			}
		}
	}
}